*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html, body{
    height: 100%;
}

.clear{
    clear: both;
}

.container{
    width: 100%;
    max-width: 1400px;
    padding: 0 2%;
    margin: 0 auto;
}

.w50{
    width: 50%;
    padding: 0 2%;
}

/* header starts here */

header{
    width: 100%;
    padding: 40px 0;
    background-color: #3d437a;
}

.logo{
    float: left;
}

.logo h2{
    color: rgb(230,230,230);
    font-size: 23px;
}

.menu-desktop{
    float: right;
}

.menu-desktop ul{
    position: relative;
    top: 5px;
    list-style: none;
}

.menu-desktop ul li{
    float: left;
    padding: 0 30px;
}

.menu-desktop ul li a{
    text-decoration: none;
    color: rgb(230,230,230);
    font-size: 18px;
    text-transform: uppercase;
}

.menu-mobile{
    display: none;
    float: right;
    width: 32px;
    height: 32px;
    background-image: url("../images/open-menu.png");
    background-size: 100% 100%;
    cursor: pointer;
}

.menu-mobile ul{
    z-index: 1;
    display: none;
    width: 100%;
    background-color: white;
    text-align: center;
    position: absolute;
    top: 80px;
    left: 0;
}

.menu-mobile ul li{
    padding: 10px 0;
    border-bottom: 1px solid black;
    list-style-type: none;
}

.menu-mobile ul li a{
    color: black;
    text-decoration: none;
}

/* header ends here */

/* form starts here */

.form-bg{
    background-image: url("../images/back.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 80vh;
    position: relative;
}

.overlay{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.form-wraper{
    width: 98%;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

.form-wraper h2{
    width: 100%;
    color: white;
    font-weight: normal;
    font-size: 28px;
    text-align: center;
}

.form-wraper form{
    margin-top: 30px;
}

.form-wraper form input[type=email]{
    width: 100%;
    max-width: 800px;
    height: 66px;
    line-height: 66px;
    padding-left: 8px;
    display: block;
}

.form-wraper form input[type=submit]{
    margin-top: 20px;
    background-color: #6c7f8a;
    border: 0;
    color: white;
    width: 100%;
    max-width: 600px;
    height: 60px;
}

/* form ends here */

/* about starts here */

section.about{
    padding: 30px 0;
}

.about-infor{
    float: left;
    padding: 40px 0;
}

.about-infor h2{
    font-size: 28px;
}

.about-infor p{
    margin-top: 12px;
    font-size: 18px;
}

.img-wraper{
    padding: 40px 2%;
    float: left;
}

.img-wraper img{
    float: right;
    width: 70%;
    max-width: 500px;
}

/* about ends here */

/* specialties starts here */

section.specialties{
    padding: 60px 0;
    width: 100%;
    background-color: #e2e2e2;
}

section.specialties .container > h2{
    text-align: center;
    margin-bottom: 40px;
    font-weight: normal;
    font-size: 36px;
    color: #404580;
}

.technology-wraper{
    float: left;
    width: calc(100% / 3);
    padding: 0 20px;
}

.technology-wraper .technology-logo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 40px;
    height: 40px;
    background-image: url("../images/css.png");
    background-size: 100% 100%;
}

.technology-wraper:nth-of-type(2) .technology-logo{
    background-image: url("../images/html-5.png");
}

.technology-wraper:nth-of-type(3) .technology-logo{
    background-image: url("../images/javascript.png");
}

.technology-wraper h2{
    font-size: 36px;
    font-weight: normal;
    text-align: center;
    color: #404580;
}

.technology-wraper p{
    font-size: 16px;
    text-align: center;
}

/* specialties ends here */

@media screen and (max-width: 1024px){
    .img-wraper img{
        width: 100%;
    } 
}

@media screen and (max-width: 768px){
    .menu-desktop{
        display: none;
    }

    .menu-mobile{
        display: block;
    }

    .form-wraper{
        width: 93%;
    }

    .about-infor{
        width: 100%;
    }

    .img-wraper{
        width: 100%;
    }
    
    .img-wraper img{
        float: none;
        display: block;
        margin: 0 auto;
        width: 75%;
    }

    .technology-wraper{
        float: none;
        width: 100%;
        padding: 0 2%;
        margin-top: 30px;
    }
}
